<div class="navitagorDiv" th:fragment="html">
	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
		<div class="navbar-header">
			<img style="margin-left:10px;margin-right:0px" class="pull-left navbar-brand" src="img/site/library.jpg" height="45px">
			<a class="navbar-brand" href="/admin_login">图书馆管理后台</a>
			<a class="navbar-brand" href="admin_category_list">分类管理</a>
			<a class="navbar-brand" href="admin_bookAll_list">书籍列表</a>
			<a class="navbar-brand" href="admin_user_list">用户管理</a>
			<a class="navbar-brand" href="/admin_orderall_list">借阅管理</a>
		</div>
	</nav>
</div>
